USE {{ db_name }};
INSERT INTO item (name, bcit_id) VALUES ('Jaey', 'A00000000');
INSERT INTO item (name, bcit_id) VALUES ('Dan', 'A00000001');
INSERT INTO item (name, bcit_id) VALUES ('Michelle', 'A00000002');
INSERT INTO item (name, bcit_id) VALUES ('Roop', 'A00000003');
INSERT INTO item (name, bcit_id) VALUES ('Sheri', 'A00000004');
INSERT INTO item (name, bcit_id) VALUES ('Mike', 'A00000005');

